body {
    --bg-color: #0f0f0f;
    --fg-color: floralwhite;

    --active-color: blue;
    --hover-color: gray;
    --add-butto-color: green;
    --displayed-higlight-color: red;
    --form-font-color-on-invallid: red;

    --border-radius: 5px;

    background-color: var(--bg-color);
    color: var(--fg-color);
}