/* main page components ----------------------------------------------------- */
#main-page-div {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

#top-bar {
    flex: 1 0 100%;
    display: flex;
    justify-content: space-around;
}

#status-div {
    display: flex;
    flex-wrap: wrap;
}

#title {
    flex-grow: 1;
}

#time-label {
    flex: 1 0 100%;
    align-self: flex-end;
}
#timezone-label, #connection-status-label {
    flex: 1 0 auto;
}

#left-bar {
    flex: 1 0 auto;
}

#timer-list {
    flex: 4 0 auto;
}

#displayed-list {
    margin: auto auto auto 20px;
    display: flex;
}

#add-timer-button {
    --button-offset: 30px;

    position: absolute;
    bottom: var(--button-offset);
    right: var(--button-offset);

    background-color: var(--add-button-color);
    border-radius: var(--border-radius);
    z-index: 1;
}

/* timer tile --------------------------------------------------------------- */
.timer-tile-label-wrapper {
    border-radius: var(--border-radius);
    border-color: transparent;

    display: flex;

    & button {
        visibility: hidden;
    }

    /* from: https://stackoverflow.com/questions/1014861/is-there-a-css-parent-selector */
    &:has(> input:checked) {
        border-color: var(--active-color);

        button {
            visibility: visible;
        }
    }

    &:hover {
        background-color: var(--hover-color);
    }

    .timer-tile-name {
        flex-grow: 1;
    }
}
